// text styles
@mixin header-text-style {
  font-size: 2.4rem;
  font-family: var(--font-head);
  color: var(--darkgreen);
  line-height: var(--lh-xs);
  font-weight: 700;
  letter-spacing: (var(--letter-spacing-xs));
}

@mixin subheader-text-style {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: 500;
  color: var(--blackgreen);
  line-height: var(--lh);
  text-transform: uppercase;
  letter-spacing: (var(--letter-spacing-l));
}

@mixin body-text-style {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--blackgreen);
  line-height: var(--lh);
}

@mixin button-nav-text-style {
  text-transform: uppercase !important;
  font-size: var(--font-size-btn) !important;
  font-family: var(--font-body) !important;
  letter-spacing: var(--letter-spacing-l) !important;
  color: var(--blackgreen) !important;
  line-height: var(--lh) !important;
  font-weight: 500 !important;
}

@mixin recent-blog-header-text-style {
  font-size: 2.3rem;
  color: var(--offwhite);
  line-height: var(--lh-xs);
  letter-spacing: var(--letter-spacing-xl);
  font-weight: 800;
  margin-bottom: 1.6rem;
}

@mixin recent-blog-subheader-text-style {
  font-size: 1.5rem;
  color: var(--offwhite);
  font-family: var(--font-head);
  font-style: italic;
  letter-spacing: var(--letter-spacing-s);
}

// center background image
@mixin center-bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// breakpoints
@mixin atXSmall {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin atSmall {
  @media (max-width: 530px) {
    @content;
  }
}

@mixin notSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin notMedium {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin atLarge {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin notLarge {
  @media (min-width: 1100px) {
    @content;
  }
}

@mixin atXLarge {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin atWide {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin atUltraWide {
  @media (min-width: 2400px) {
    @content;
  }
}

// mobile menu
@mixin mobileMenu {
  @media (max-width: 1050px) {
    @content;
  }
}

// desktop menu
@mixin desktopMenu {
  @media (min-width: 1050px) {
    @content;
  }
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

// animations
@keyframes clockwise {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin coverBackground {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; // cover
}
